---
const basePath = import.meta.env.BASE_URL
const navItems: Array<{
  title: string;
  url: string;
}> = [
  { title: "Angebote", url: `${basePath}/services` },
  { title: "Kurse", url: `${basePath}/courses` },
  { title: "News", url: `${basePath}/news` },
];
---

<section
  id="relume"
  class="z-[999] flex w-full items-center border-b border-border-primary bg-background-primary lg:min-h-18 lg:px-[5%]"
>
  <div class="size-full lg:flex lg:items-center lg:justify-between">
    <div
      class="flex min-h-16 items-center justify-between px-[5%] md:min-h-18 lg:min-h-full lg:px-0"
    >
      <a href={basePath}>
        <img
          src="https://d22po4pjz3o32e.cloudfront.net/logo-image.svg"
          alt="Logo image"
        /></a
      ><button
        class="-mr-2 flex size-12 flex-col items-center justify-center lg:hidden"
      >
        <span class="my-[3px] h-0.5 w-6 bg-black"></span><span
          class="my-[3px] h-0.5 w-6 bg-black"></span><span
          class="my-[3px] h-0.5 w-6 bg-black"></span>
      </button>
    </div>
    <li
      class="overflow-hidden px-[5%] lg:flex lg:items-center lg:px-0 lg:[--height-closed:auto] lg:[--height-open:auto]"
      style="height:var(--height-closed, 0)"
    >
      {
        navItems.map(({ title, url }) => (
          <a
            href={url}
            class="block py-3 text-md first:pt-7 lg:px-4 lg:py-2 lg:text-base first:lg:pt-2"
          >
            {title}
          </a>
        ))
      }
    </li>
  </div>
</section>
